d-i debian-installer/locale string {{PRESEED_LOCALE}}
d-i debian-installer/language string {{PRESEED_LANGUAGE}}
d-i debian-installer/country string {{PRESEED_COUNTRY}}
d-i keyboard-configuration/xkb-keymap select {{PRESEED_KEYMAP}}
d-i passwd/user-fullname string
d-i passwd/username string {{PRESEED_USRNAME}}
d-i passwd/root-password password {{PRESEED_ROOTPWD}}
d-i passwd/root-password-again password {{PRESEED_ROOTPWD}}
d-i passwd/user-password password {{PRESEED_USRPWD}}
d-i passwd/user-password-again password {{PRESEED_USRPWD}}
d-i user-setup/allow-password-weak boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i mirror/country string manual
d-i mirror/http/hostname string {{PRESEED_MIRROR}}
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i time/zone string {{PRESEED_TIMEZONE}}
d-i partman/confirm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true
d-i partman-auto/disk string /dev/[sv]da
d-i partman-auto/method string lvm
d-i partman-auto/choose_recipe select atomic
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-partitioning/confirm_write_new_label boolean true
d-i grub-installer/grub2_instead_of_grub_legacy boolean true
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string /dev/[sv]da
d-i pkgsel/update-policy select none
d-i pkgsel/include string task-gnome-desktop openssh-server
d-i finish-install/reboot_in_progress note