option domain-name "{{ DHCPD_DOMAINNAME }}";
option domain-name-servers {{ DHCPD_DOMAINNAMESERVERS }};
default-lease-time {{ DHCPD_LEASETIME|default('600') }};
max-lease-time {{ DHCPD_MAXLEASETIME|default('7200') }};
ddns-update-style {{ DHCPD_DDNSUPDATE|default('none') }};

subnet {{ DHCPD_SUBNET_IP }} netmask {{ DHCPD_SUBNET_MASK }} {
  range {{ DHCPD_SUBNET_RANGE }};  
  option domain-name "{{ DHCPD_DOMAINNAME }}";  
  option domain-name-servers {{ DHCPD_DOMAINNAMESERVERS }};  
  option routers {{ DHCPD_SUBNET_ROUTERS }};  
  option broadcast-address {{ DHCPD_SUBNET_BROADCAST }};
  
  # INDISPENSABLE au PXE
  next-server {{ DHCPD_SUBNET_SERVERIP }};  # Serveur TFTP/PXE
  filename "pxelinux.0";
}