# Path to dhcpd's config file
DHCPDv4_CONF={{DHCPD_CONFv4}}
DHCPDv6_CONF={{DHCPD_CONFv6}}

# On what interfaces should the DHCP server (dhcpd) serve DHCP requests?
#       Separate multiple interfaces with spaces, e.g. "eth0 eth1".
INTERFACESv4="{{DHCPD_INTERFACEv4}}"
INTERFACESv6="{{DHCPD_INTERFACEv6}}"