menu hshift 13
menu width 49
menu margin 8
menu tabmsg

menu title Installer boot menu
label {{ TFTPD_FOLDER | replace(' ','-') }}-automated-installation
  menu label ^{{ TFTPD_FOLDER }} automated Installation
  kernel debian-installer/amd64/linux
  append auto=true priority=critical vga=788 initrd=debian-installer/amd64/initrd.gz preseed/url=tftp://{{ DHCPD_SUBNET_SERVERIP }}/{{ TFTPD_FOLDER| replace(' ','-') }}/config.cfg
menu end